<ion-view view-title="About">

<ion-header-bar class="bar-calm">
<h1 class="title">Deal Buddy</h1>
<button class="button button-clear button"  ng-click = "login.signout()"><i class="ion-log-out"> logout </i></button>
</ion-header-bar>-

<ion-content class="padding">
<div class="card">
  <div class="item item-divider text-center">
    <h1>Deal Buddy App!</h1>
  </div>
  <div class="item text-center item-text-wrap">
    version 1.0
    <br/>
    <br/> designed & developed by
    <br/> Gaurav Kumar
    <br/>
    <br/> Built using:
    <br/> Backand, JavaScript, AngularJS, Cordova, & Ionic
    <br/>
    <br/>
  </div>
</div>
</ion-content>
</ion-view>